---
import { imageData } from '@components/templates/top/data/topsection';
import ResponsiveImage from '@components/ui/ResponsiveImage.astro';
---

<section class="top">
	{
		imageData.map((image, index) => {
			return (
				<div class={`top__image_${index + 1}`}>
					<ResponsiveImage
						src={image.src}
						alt={image.alt}
						sizes={image.sizes}
						loading={image.loading}
						decoding={image.decoding}
					/>
				</div>
			);
		})
	}
</section>

<style lang="scss">
	@import '@styles/main.scss';
	.top {
		position: relative;
		height: 413vw;
		&__image_1,
		&__image_2,
		&__image_3,
		&__image_4,
		&__image_5,
		&__image_6,
		&__image_7,
		&__image_8,
		&__image_9,
		&__image_10,
		&__image_11,
		&__image_12 {
			position: absolute;
			z-index: 1;
		}
		&__image_1 {
			width: 64%;
			top: 47vw;
			left: calc(50% - 24.5vw);
		}
		&__image_2 {
			display: none;
		}
		&__image_3 {
			top: 131vw;
			left: -10.7vw;
			width: 42.7%;
		}
		&__image_4 {
			top: 180vw;
			left: 22.7vw;
			width: 32%;
		}
		&__image_5 {
			top: 0;
			left: calc(100% - 6.1vw);
			width: 36%;
		}
		&__image_6 {
			top: 243.7vw;
			left: 44vw;
			width: 64%;
		}
		&__image_7 {
			top: 328.8vw;
			left: 23.5vw;
			width: 32%;
			z-index: -1;
		}
		&__image_8 {
			top: 252.3vw;
			left: -12.5vw;
			width: 27%;
		}
		&__image_9 {
			width: 103.4666666667vw;
			top: 74.6666666667vw;
			left: -56.2666666667vw;
		}
		&__image_10 {
			width: 114.1333333333vw;
			top: 390vw;
			left: 9.3333333333vw;
		}
		&__image_11 {
			width: 101.6vw;
			top: 117.8666666667vw;
			left: 42.4vw;
		}
		&__image_12 {
			display: none;
		}
		@include mq('md') {
			height: 100vw;
			&__image_1 {
				top: 8.75vw;
				left: calc(50% - 18vw);
				width: 31%;
			}
			&__image_2 {
				display: block;
				top: -3.75vw;
				left: calc(50% + 10.15625vw);
				z-index: 0;
				width: 12.5%;
			}
			&__image_3 {
				top: 27.5vw;
				left: -3.515625vw;
				width: 18.8%;
			}
			&__image_4 {
				top: 47.265625vw;
				left: 11.71875vw;
				width: 12.5%;
			}
			&__image_5 {
				top: 16.09375vw;
				left: calc(100% - 12vw);
				width: 18.8%;
			}
			&__image_6 {
				top: 57.96875vw;
				left: 56.328125vw;
				width: 25%;
				z-index: 11;
			}
			&__image_7 {
				top: 90vw;
				left: 75vw;
				width: 18.75%;
				z-index: 10;
			}
			&__image_8 {
				top: 87.03125vw;
				left: 14.0625vw;
				width: 12.5%;
			}
			//波１
			&__image_9 {
				top: 29.21875vw;
				left: -1.328125vw;
				width: 30%;
			}
			//波二
			&__image_10 {
				width: 33.4375vw;
				top: 75.546875vw;
				left: 16.875vw;
			}
			//波三
			&__image_11 {
				width: 29.765625vw;
				top: 36.09375vw;
				left: calc(100% - 26vw);
			}
			//波四
			&__image_12 {
				display: block;
				width: 28.5%;
				top: 99.765625vw;
				left: 3.671875vw;
			}
		}
	}
</style>
