---
import TestImage from '@assets/images/top/merchandise/2x/home_main_1_1@2x.jpg';
import TestImage2 from '@assets/images/top/merchandise/2x/home_main_1_2@2x.jpg';
import { Image } from 'astro:assets';
---

<div class="test">
	test
	<Image
		src={TestImage}
		alt="test"
		height={TestImage.height}
		width={TestImage.width}
		loading="eager"
		decoding="sync"
	/>
	<Image
		src={TestImage2}
		alt="test"
		height={TestImage2.height}
		width={TestImage2.width}
		loading="eager"
		decoding="sync"
	/>
</div>

<style lang="scss">
	.test {
		max-width: 400px;
	}
</style>
